<footer id="page-footer" class="footer-bckg footer-size">
  <div class="container">
    <div class="logo-footer">
      <a href="<%= root_path %>">
        <%= image_tag 'logo-bandlive.png' %>
      </a>          
    </div>
    <div class="copyright">
      <span>©December 2015</span>
    </div>
    <div class="navbar-default navbar-right footer-bckg footer-list-margin-top">
      <ul id="footer-list" class="nav navbar-nav">
        <li><a href="#fakelink">About</a></li>
        <li><a href="#fakelink">Bands</a></li>
        <li><a href="#fakelink">Venues</a></li>
        <li><a href="#fakelink">Concerts</a></li>
        <li><a href="#fakelink">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>