<div class="content container">
  <section class="participant-show">
    <h1 class="participant-name"><%= @participant.name %>
    </h1>
    <p>email: <%= @participant.email %></p>
    <p>instrument: <%= @participant.instrument %></p>
    <p>band: <a href=""><%= @band.name %></a></p>
  </section>
</div>