<div class="content container">
  <section class="participant-show">
    <h1 class="participant-name"><%= @participant.name %>
    </h1>
    <p>email: <%= @participant.email %></p>
    <p>instrument: <%= @participant.instrument %></p>
    <p>band: 
      <%= link_to @band.name, band_path(@band.id) %>
    </p>
  </section>
</div>