<div class="content container">
  <section class="venues-show">
    <div class="col-md-4">
      <div class="show-image">
        <%= image_tag @venue.generate_photo_url(@venue.name) %>
      </div>
    </div>
    <div class="show-content col-md-8">
      <h1 class="venues-name">
        <%= @venue.name %>
      </h1>
      <p>email: </p>
      <p id="venue-email"><%= @venue.email %></p>
      <p>address: </p> 
      <p id="venue-address"><%= @venue.address %></p> 
      <div id="map"></div>
    </div>
  </section>

<!--   <section class="container col-md-12 next-concerts">
    <h1>Next Concerts</h1>
  </section> -->
</div>