<div class="content container">
  <h1>Concerts</h1>
  <section class="index-pannels">
    <% @concerts.each do |concert| %>
      <%= render 'partials/panels/panel_concert', 
                 concert: concert, 
                 band: Band.find_by_id(concert.band_id),
                 venue: Venue.find_by_id(concert.venue_id)%>
    <% end %>
  </section>
</div>