<div class="content container">
  <h1>Bands</h1>
  <section class="index-panels">
    <% @bands.each do |band| %>
      <%= render 'partials/panels/panel_band', band: band %>
    <% end %>
  </section>
</div>