<div class="content container">
  <h1 class="profile-band-name" data-id="<%= @band.id %>">
    <%= @band.name %>
  </h1>
  <section class="calendar band-calendar">
    <div id='calendar'></div>
  </section>
  <section class="calendar-venues-availables container"></section>
  <section class="calendar-outstanding-concerts container"></section>
</div>