<%= render 'band_info' %>

<section class="calendar band-calendar container-fluid">
    <div id='calendar' class="container"></div>
    <div class="calendar-venues-availables container"></div>  
</section>

<section id="next-concerts" class="container"></section>