// Place all the styles related to the bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#band-link {
  text-decoration: none;
}

.panel:hover {
  background: #FC744F; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #FC744F , #FE4D55); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #FC744F, #FE4D55); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #FC744F, #FE4D55); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #FC744F , #FE4D55); /* Standard syntax */
}

.bands-show-image {
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 4px 4px 30px -9px #A6A8AB;
}

.bands-show-image img {
  width: 100%;

}