.main-banner {
  width: 100%;
  background-color: #A6A8AB;
}

.main-banner .main-banner-image {
  width: 293px;
  margin-top: 2%;
}

.main-banner .main-image img {
  width: 100%;
}

.main-banner-right {
  padding: 10px 20px 10px 0;

}

.main-banner-title h1 {
  color: #fff;
  font-size: 45pt;
}

.main-banner-content {
  color: #fff;
}