.main-banner {
  width: 100%;
  background-color: #A6A8AB;
}

.main-banner .main-banner-image {
  width: 293px;
  margin-top: 2%;
}

.main-banner .main-image img {
  width: 100%;
}

.main-banner-right {
  padding: 10px 20px 10px 0;

}

.main-banner-title h1 {
  color: #fff;
  font-size: 45pt;
}

.main-banner-content {
  color: #fff;
}

#panel-link {
  text-decoration: none;
}

.panel:hover {
  background: #FC744F; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #FC744F , #FE4D55); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #FC744F, #FE4D55); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #FC744F, #FE4D55); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #FC744F , #FE4D55); /* Standard syntax */
}