.panels {
  margin-top: 30px;
}

.panel {
  border: 0;
  border-radius: 5px;
  box-shadow: 4px 4px 30px -9px #A6A8AB;
  padding: 15px;
  margin: 10px 0;
  font-size: 12pt;
  text-align: center;
}

.panel-image {
  height: 120px;
  overflow: hidden;
  margin-bottom: 16px;
  border-radius: 5px;
  position: relative;
}

.panel-image img {
  width: 100%;
  position: absolute;
  top:-20%; left:0; right: 0;
}

.panel footer {
  margin-bottom: 0;
}

.panel footer p {
  margin-bottom: 0;
}

.panel-date {
  color: #FE4D55;
  text-transform: uppercase;
  font-weight: bold;
}

.panel.vanue a {
  text-decoration: underline;
  color: black;
}

.panel header h1 {
  margin-top: 12px;
  margin-bottom: 13pt;
  color: black;
  font-size: 20pt;
}

.panel-content {
  color: #BBBDBF;
  font-size: 10pt;
}

.panel-content p {
  margin-bottom: 3px;
}

#panel-link {
  text-decoration: none;
}

.panel:hover {
  background: #FC744F; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #FC744F , #FE4D55); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #FC744F, #FE4D55); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #FC744F, #FE4D55); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #FC744F , #FE4D55); /* Standard syntax */
}

.social-share {
  margin: 12px auto 0;
}