// Place all the styles related to the bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_variables";

#show-info {
  margin-top: 30px;
  margin-bottom: 30px;
  color: $grey_dark;
}

#show-info .category-icon {
  display: inline;
}

#show-info .show-category {
  color: $grey_light;
  display: inline;
  margin-left: 10px;
  vertical-align: middle;
}

#show-image {
  overflow: hidden;
  // border-radius: 15px;
  box-shadow: 4px 4px 30px -9px #A6A8AB;
}

#show-image img {
  width: 100%;
}

#show-properties {
  // margin-top: 20px;
}

#show-info .show-data { //container data band
  display: inline-block;
  margin-right: 6%;
  margin-bottom: -6px;
}

#show-info .title { //titles data band
  text-transform: uppercase;
  color: $grey_light;
  font-size: 12pt;
}

#show-info .btn-profile { //btn profile
  float: right;
}

.band-participants {
  margin-top: 10px;
  margin-bottom: 20px;
}

ul#band-list-participants {
  margin-left: 0;
  padding-left: 0;
}

.item-band-list-participants {
  list-style-type: none;
  display: inline-block;
  margin-right: 35px;
}

#show-info .participant-img { //container img participant
  width: 40px;
  border-radius: 25px;
  overflow: hidden;
  display: inline-block;
}

#show-info .participant-img img { //img participant
  width: 100%;
}

#show-info .participant-data { //container participant data
  display: inline-block;
  margin-left: 15px;
}

#show-info a.participant-name { //name participant data
  font-size: 14pt;
  font-weight: bold;
}

#show-info a.participant-name:hover { //name participant data
  color: $pink;
}

#show-info .participant-instrument { //instrument participant data
  margin-top: -6px;
  color: $grey_light;
}