<div class="col-md-3 col-sm-6">
  <article class="panel">
    <div class="panel-image">
      <%= image_tag "topper-chopper.jpg" %>
    </div>
    <footer>
      <p><span class="panel-date">06 dec</span> at <a href="" class="vanue">place</a></p>
    </footer>
    <header>
      <h1>Topper Chopper</h1>
    </header>
    <div class="panel-content">
      <p>Gender Rock-Original Music</p>
      <p>Language - English</p>
    </div>
    <div class="social-share">
      <%= link_to "share" , "#fakelink" ,class: "btn btn-green"%>
    </div>
  </article>
</div>